@import "../../css/middleware";

.HeaderMenu{
    padding: 20px;
    border-bottom: 1px dotted $red-color;
    display: flex;
    align-items: center;
    div{
        display: block !important;
        margin: 0 auto !important;
    }
}