@import "css/middleware";
html{
    position: relative;    
    min-height: 100%;
    height: auto;
    body{
        position: relative;
        background-image: url('/images/bg.jpg') !important;
        #root { 
            position: relative;

            min-height: 100%;
            max-width: 970px;
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px; 
        }
    }
}